header {
    background-color:rgb(62, 47, 165);
    color: aliceblue;
}
.cabecalho{
    width: 100%;
    font-family:Arial;
    text-align: center;
}
.corpo{
    background-color: midnightblue;
    width: 40%;
    
}
